/* Global styles */
body {
    font-family: phont;
    background: #111;
    color: white;
    margin: 0;
    height: 100vh;
}

a {
    color: blueviolet;
    text-decoration: none;
}

/* Header */
#header {
    text-align: center;
}

/* Footer */
#footer {
    color: #999;
    text-align: center;
    display: block;
}

/* Body */
#body {
    display: flex;
    height: 100%;
}

/* Sidebar */
#logo-container {
    padding: 1em 2em;
}
#logo {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#logo img {
    margin-right: 0.5em;
}
.artist-name {
    width: 100%;
    display: block;
    text-decoration: none;
}
.artist-name:hover {
    color: white;
    font-weight: bold;
}
#sidebar {
    background: black;
    border-right: #3e3e3e;
    border-right-style: dashed;
}
#artists {
    list-style-type: none;
    padding-inline-start: 0;
    margin-inline-start: 0;
}
#sidebar li {
    padding-left: 2em;
}

/* Content */
#content {
    overflow: auto;
    width: 100%;
    padding: 2em;
}

/* Artist */
#artist-data-container {
    display: flex;
}
#artist-data {
    padding: 0 1em;
}
#artist-data #artist-name {
    font-size: 2em;
}
#artist-data #artist-collectives ul {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
    filter: invert(1);
    opacity: 0.6;
}
#artist-data #artist-collectives ul:hover {
    opacity: 1;
}
