{%- macro album(album_id) -%} {% let album = data.get_album(album_id) %} {% let
album_artists = data.get_album_artist_ids(album_id) %}

<a href="{{ url_root }}artists/{{ album.artist_id }}/{{ album.id }}/">
    <h1>{{ album.name }}</h1>
    <img height="100px" src="{{ album.cover_url }}" />
    <ul>
        {% for artist in album_artists %}
        <li>{{ artist }}</li>
        {% endfor %}
    </ul>
    {% if album.track_count > 1 %}
    <label style="background-color: blueviolet">album</label>

    {% endif %}
</a>

{%- endmacro -%}
