{%- import "partials/album.html" as album_macros -%} {%- import
"partials/artist.html" as artist_macros -%} {% extends "discs.html" %} {% block
content_artist %}
<div class="body">
    {% include "partials/back.html" %}

    <div id="artist-data-container">
        <div id="artist-image">
            <img width="150px" src="{{ artist.image_url }}" />
        </div>
        <div id="artist-data">
            {% if !collectives.is_empty() %}
            <!-- <label style="color: #999">collectives:</label> -->
            <div id="artist-collectives">
                {% for collective_id in collectives %}
                <ul>
                    <li>
                        {% call artist_macros::artist_logo(collective_id) %}
                    </li>
                </ul>
                {% endfor %}
            </div>
            {% endif %}

            <span id="artist-name" style="color: {{ color }};"
                >{{ artist.name }}</span
            >

            {% if let Some(country) = country %}
            <p>
                <a href="../../countries/{{ country.code }}.html"
                    >{{ country.name }} {{ country.emoji }}</a
                >
            </p>
            {% endif %} {% if let Some(description) = artist.description %}
            <p>{{ description }}</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
