{%- import "partials/album.html" as album_macros -%} {%- import
"partials/artist.html" as artist_macros -%} {% extends "discs.html" %} {% block
content_artist %}
<div class="body">
    {% include "partials/back.html" %}

    <div id="artist-data-container">
        <div id="artist-image">
            <img width="150px" src="{{ artist.image_url }}" />
        </div>
        <div id="artist-data">
            {% if !collectives.is_empty() %}
            <!-- <label style="color: #999">collectives:</label> -->
            <div id="artist-collectives">
                {% for collective_id in collectives %}
                <ul>
                    <li>
                        {% call artist_macros::artist_logo(collective_id) %}
                    </li>
                </ul>
                {% endfor %}
            </div>
            {% endif %}

            <span id="artist-name" style="color: {{ color }};"
                >{{ artist.name }}</span
            >

            {% if let Some(country) = country %}
            <p>
                <a href="../../countries/{{ country.code }}.html"
                    >{{ country.name }} {{ country.emoji }}</a
                >
            </p>
            {% endif %} {% if let Some(description) = artist.description %}
            <p>{{ description }}</p>
            {% endif %}
        </div>
    </div>

    <br /><br />
    <div id="urls">
        {% if let Some(url) = artist.url_bandcamp() %}
        <a target="_blank" href="{{ url }}">
            <span class="loc loc-bc">bandcamp</span>
        </a>
        {% endif %} {% if let Some(url) = artist.url_soundcloud() %}
        <a target="_blank" href="{{ url }}">
            <span class="loc loc-sc">soundcloud</span>
        </a>
        {% endif %} {% if let Some(url) = artist.url_youtube() %}
        <a target="_blank" href="{{ url }}">
            <span class="loc loc-yt">youtube</span>
        </a>
        {% endif %} {% if let Some(url) = artist.url_spotify() %}
        <a target="_blank" href="{{ url }}">
            <span class="loc loc-spot">spotify</span>
        </a>
        {% endif %} {% if let Some(url) = artist.url_apple() %}
        <a target="_blank" href="{{ url }}">
            <span class="loc loc-apple">apple</span>
        </a>
        {% endif %}
    </div>

    {% if let Some(members) = artist.collective_members %}
    <br />
    <label>members:</label><br />
    <br />
    <div id="members" class="row">
        {% for member in members %}
        <div class="column">{% call artist_macros::artist(member.id) %}</div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}
