{% extends "base.html" %} {% block content %}
<img height="150px" src="{{ artist.data.image }}" />
<h1>{{ artist.data.name }}</h1>

{% if let Some(country) = country %}
<p>
    <a href="../../countries/{{ country.code }}.html"
        >{{ country.name }} {{ country.emoji }}</a
    >
</p>
{% endif %} {% if let Some(description) = artist.data.description %}
<p>{{ description }}</p>
{% endif %}
<h2>Discography</h2>
<ul>
    {% for (path, album) in albums %}
    <li>
        <a href="./{{ path }}"
            ><img height="100px" src="{{album.cover}}" />{{ album.name }}</a
        >
    </li>
    {% endfor %}
</ul>
{% if let Some(tracks) = features %}
<h2>Featured on</h2>
<ul>
    {% for (path_album, album, path_track, track) in tracks %}

    <li>
        <a
            href="../{{ site::parse_name(album.artist) }}/{{ path_album }}/{{ path_track }}"
            >{{ track.name }}</a
        >
    </li>

    {% endfor %}
</ul>
{% endif %} {% if let Some(members) = artist.data.collective_members %}
<h1>Collective Members</h1>
<ul>
    {% for member in members %}
    <li>
        <a href="../{{ site::parse_name(member.name) }}">{{ member.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %} {% endblock %}
