{% let url_root = "http://localhost:5500/out/" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Phonkhub</title>
    </head>
    <style>
        #header {
            text-align: center;
        }
        @font-face {
            font-family: myFirstFont;
            src: url("{{ url_root }}phont.otf");
        }
        body {
            font-family: myFirstFont;
        }
    </style>
    <body>
        <div id="header">
            <b style="font-size: x-large"
                >Phonk<span style="background-color: blueviolet">Hub</span>
            </b>
        </div>
        <div class="content">{% block content %}{% endblock %}</div>
    </body>
</html>
