{% extends "base.html" %} {% block content %}

<h1>Contributing</h1>

<p>
    You are going to need a
    <a target="_blank" href="https://github.com">Github account</a>

    <br />
    <br />

    If you are contributing to the database, send a PR to the
    <a target="_blank" href="https://github.com/phonkhub/db"
        >Database Repository</a
    >.
    <br />
    <br />
    If you are contributing to the website (good luck lol), send a PR to the
    <a target="_blank" href="https://github.com/phonkhub/site"
        >Website Repository</a
    >.
</p>
{% include "./partials/footer.html" %} {% endblock %}
