{%- import "./partials/album.html" as album_macros -%} {% extends "tracks.html"
%} {% block content_album %}
<img height="200px" src="{{ album.cover_url }}" />

<h1>{{ album.name }} / {{ track.name }}</h1>

{% if let Some(loc) = track.location_bandcamp() %}
<a target="_blank" href="{{ loc.url }}">
    <span class="loc loc-bc">bandcamp</span>
</a>
{% endif %} {% if let Some(loc) = track.location_soundcloud() %} {% let time %}
{% if let Some(at) = loc.at %} {% let time = crate::duration_to_str(at) %} {%
else %} {% let time = String::new() %} {% endif %}
<a target="_blank" href="{{ loc.url }}{{ time }}">
    <span class="loc loc-sc">soundcloud</span>
</a>
{% endif %} {% if let Some(loc) = track.location_youtube() %} {% let time %} {%
if let Some(at) = loc.at %} {% let time = at.num_seconds().to_string() %} {%
else %} {% let time = String::new() %} {% endif %}
<a target="_blank" href="{{ loc.url }}&t={{ time }}">
    <span class="loc loc-yt">youtube</span>
</a>
{% endif %} {% if let Some(loc) = track.location_spotify() %}
<a target="_blank" href="{{ loc.url }}">
    <span class="loc loc-spot">spotify</span>
</a>
{% endif %} {% if let Some(loc) = track.location_apple() %}
<a target="_blank" href="{{ loc.url }}">
    <span class="loc loc-apple">apple</span>
</a>
{% endif %} {% if let Some(wave) = track.wave %}
<br />
<br />
<br />
<br />

<canvas id="wave" width="600" height="64"></canvas>
<br />
<br />

<script>
    let width = 600;
    let height = 64;
    let canvas = document.getElementById("wave");
    let ctx = canvas.getContext("2d");
    let wave = [{{ crate::wave_to_str(wave) }}];

    ctx.strokeStyle = "white";

    let scale = 3;

    for (let i = 0; i < width; i++) {
        ctx.beginPath();
        ctx.moveTo(i, height);
        ctx.lineTo(i, height - wave[i * scale] / 4);
        ctx.stroke();
    }
</script>

{% endif %} {% include "./partials/footer.html" %} {% endblock %}
