{%- import "./partials/album.html" as album_macros -%} {% extends "tracks.html"
%} {% block content_album %}
<div id="album_container">
<img height="200px" src="{{ album.cover_url }}" />
<div id="album_data">
<label>album:</label>
<a href="./"> <span>{{ album.name }}</span> </a>
<br>
<label>released:</label>
<span>{{ album.released }}</span>
<br>
<label>genres:</label>
<span>{{ album.genres.join(", ") }}</span>

</div>

</div>

<h1>{{ track.name }}</h1>

{% if let Some(loc) = track.location_bandcamp() %}
<a target="_blank" href="{{ loc.url }}">
    <span class="loc loc-bc">bandcamp</span>
</a>
{% endif %} {% if let Some(loc) = track.location_soundcloud() %} {% let time %}
{% if let Some(at) = loc.at %} {% let time = crate::duration_to_str(at) %} {%
else %} {% let time = String::new() %} {% endif %}
<a target="_blank" href="{{ loc.url }}{{ time }}">
    <span class="loc loc-sc">soundcloud</span>
</a>
{% endif %} {% if let Some(loc) = track.location_youtube() %} {% let time %} {%
if let Some(at) = loc.at %} {% let time = at.num_seconds().to_string() %} {%
else %} {% let time = String::new() %} {% endif %}
<a target="_blank" href="{{ loc.url }}&t={{ time }}">
    <span class="loc loc-yt">youtube</span>
</a>
{% endif %} {% if let Some(loc) = track.location_spotify() %}
<a target="_blank" href="{{ loc.url }}">
    <span class="loc loc-spot">spotify</span>
</a>
{% endif %} {% if let Some(loc) = track.location_apple() %}
<a target="_blank" href="{{ loc.url }}">
    <span class="loc loc-apple">apple</span>
</a>
{% endif %} {% if let Some(wave) = track.wave %}
<br />
<br />
<br />
<br />
{% if track.samples.len() > 0 %}
<div id="sample-container">
    {% for sample in track.samples %}

    <div id="sample-layer">
        {% for occurance in sample.occurances %} {% let (width, left) =
        crate::calc_sample_pos(track, occurance) %}
        <div
            style="width: {{ width }}%; left: {{ left }}%"
            class="sample-occurance sample-type-{{ sample.type }}"
        ></div>
        {% endfor %}
    </div>

    {% endfor %}
</div>
{% endif %}
<canvas id="wave" width="600" height="64"></canvas>

<script>
    let width = 600;
    let height = 64;
    let canvas = document.getElementById("wave");
    let ctx = canvas.getContext("2d");
    let wave = [{{ crate::wave_to_str(wave) }}];

    ctx.strokeStyle = "white";

    let scale_x = 3;
    let scale_y = 4;

    for (let i = 0; i < width; i++) {
        ctx.beginPath();
        ctx.moveTo(i, height);
        ctx.lineTo(i, height - wave[i * scale_x] / scale_y);
        ctx.stroke();
    }
</script>

{% endif %} {% if track.samples.len() > 0 %}
<br />
<br />
<br />
<label>samples:</label>
<div>
    {% for sample in track.samples %}

    <div>{% call album_macros::sample(sample) %}</div> {% endfor %}</div>
    {% endif %} {% include "./partials/footer.html" %} {% endblock %}
</div>
